.MethodoCOUR{
   border-radius: 5px;
    width: 700px;
    margin: auto;
    padding: 0 10px;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.238),
             -10px -10px 20px rgba(255, 255, 255, 0.245),
             10px 10px 20px rgba(210, 142, 5, 0.4);
    
    
}
.MethodoCOUR h1{

    text-align: center;
}
.MethodoCOUR p{
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
}
@media (max-width: 33em) {
    .MethodoCOUR{
        width: 300px;
        margin: auto;
        padding: 0 10px;
        font-size: 13px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.238),
             -10px -10px 20px rgba(255, 255, 255,0.4),
             10px 10px 20px rgba(210, 142, 5, 0.4);
        
    }
}
