.MethodoCOUR{
    width: 700px;
    background-color: rgba(255, 255, 255, 0.698);
    margin: auto;
    padding: 10px 0 0 20px;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.238),
             -10px -10px 20px rgba(255, 255, 255, 0.245),
             10px 10px 20px rgba(210, 142, 5, 0.4);
    
}
.MethodoCOUR h1{

    text-align: center;
    text-decoration: underline;
}
.MethodoCOUR ul{
    padding: 10px 0 0 30px;
}
/*changemment ic en dessous*/
@media  (max-width: 33em) {
    .MethodoCOUR{
        background-color: rgba(255, 255, 255, 0.698);
        width: 95%;
       word-wrap: break-word;
        padding: 10px 10px 0 10px;
        font-size: 13px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.238),
             -10px -10px 20px rgba(255, 255, 255,0.4),
             10px 10px 20px rgba(210, 142, 5, 0.4);
        
    }
    .MethodoCOUR ul{
        padding: 10px 0 0 30px;
    }
}
